<!-- Start Projects List -->
<div class="row gx-5">

    {% for project in projects %}
        <!-- Start Project -->
        <div class="col-lg-4 mb-5 project">
            <div class="card h-100 project-box">
                <div class="card-body px-4 pb-1 pt-4">

                    <!--Project URL -->
                    <a class="text-decoration-none link-dark" href="{{ project.get_absolute_url }}">
                        <!-- Project Title -->
                        <h3 class="card-title mb-3">
                            {{ project.title }}
                        </h3>
                    </a>
                    <!-- Card Description -->
                    <a class="text-decoration-none link-dark" href="{{ project.get_absolute_url }}">
                        <p class="card-text fs-6">
    {#                        {{ project.body|safe|truncatewords:10|linebreaks }}#}
                            {{ project.body|striptags|safe|truncatechars:100 }}
                        </p>
                    </a>
                </div> <!-- End Card Body -->

                {% if project.skills.all %}
                <!-- Start Card Footer -->
                    <div class="card-footer bg-transparent border-top-0 px-4">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <!-- Tags -->
                                <p class="card-text mb-2 fs-6">
                                    {% for tag in project.skills.all %}
                                        <a class="small" href="{% url "portfolio:portfolio_home_by_tag" tag.slug %}">
                                            <span class="badge rounded-pill bg-secondary text-white" style="font-size: 0.75rem;">#{{ tag.name }}</span>
                                        </a>
                                        {% comment %} {% if not forloop.last %}, {% endif %} {% endcomment %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Card Footer -->
                {% endif %}

            </div> <!-- End Card -->
        </div>
        <!-- End Project -->
    {% endfor %}

</div> <!-- End Projects List -->